In [16]:
import pandas as pd
# train = pd.read_csv('data/train.csv')
train = pd.read_csv('train_preprocessed.csv')
train = train.drop(columns=['TypeofContact','Occupation','NumberOfPersonVisiting','NumberOfTrips','OwnCar','NumberOfChildrenVisiting'])
train.head()

,Age,CityTier,DurationOfPitch,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,ProdTaken
0,0.232558,1,0.277778,2,4.0,0,3.0,1,0,1,1,0.198448,0
1,0.372093,3,0.000000,1,4.0,1,4.0,2,1,5,2,0.190411,1
2,0.627907,1,0.000000,2,3.0,1,4.0,1,0,4,2,0.231619,0
3,0.255814,1,0.194444,2,5.0,0,4.0,1,0,4,1,0.207560,1
4,0.558140,3,0.166667,2,3.0,1,3.0,0,0,3,2,0.193565,0

In [17]:
from pycaret.datasets import get_data 
from pycaret.classification import *
from pycaret.utils import check_metric

In [18]:
# setup으로 init
clf = setup(data=train, target='ProdTaken', use_gpu=True)

In [19]:
# ML 모델 성능 비교
top5 = compare_models(sort='Accuracy', n_select=5)

In [20]:
top5

[ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                      criterion='gini', max_depth=None, max_features='auto',
                      max_leaf_nodes=None, max_samples=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=False, random_state=6507, verbose=0,
                      warm_start=False),
 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                        criterion='gini', max_depth=None, max_features='auto',
                        max_leaf_nodes=None, max_samples=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, n_estimators=100,
                        n_jobs=-1, oob_score=False, random_state=6507, verbose=0,
                        warm_start=False),
 LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
                device='gpu', importance_type='split', learning_rate=0.1,
                max_depth=-1, min_child_samples=20, min_child_weight=0.001,
                min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=31,
                objective=None, random_state=6507, reg_alpha=0.0, reg_lambda=0.0,
                silent='warn', subsample=1.0, subsample_for_bin=200000,
                subsample_freq=0),
 LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                    intercept_scaling=1, l1_ratio=None, max_iter=1000,
                    multi_class='auto', n_jobs=None, penalty='l2',
                    random_state=6507, solver='lbfgs', tol=0.0001, verbose=0,
                    warm_start=False),
 LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
                            solver='svd', store_covariance=False, tol=0.0001)]

In [21]:
# 모델 튜닝, blending
tuned_top5 = [tune_model(i) for i in top5]
blender_top5 = blend_models(estimator_list=tuned_top5)

In [ ]:
blender_top5

In [22]:
# 모델 최종 확정, 전체 데이터 학습
final_model = finalize_model(blender_top5)

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5

In [23]:
# test 데이터 불러오기
# test = pd.read_csv('data/test.csv')
test = pd.read_csv('test_preprocessed.csv')
test  = test.drop(columns=['TypeofContact','Occupation','NumberOfPersonVisiting','NumberOfTrips','OwnCar','NumberOfChildrenVisiting'])

In [24]:
# 테스트셋 predict
prediction = predict_model(final_model, data=test)

In [25]:
prediction.head()

,Age,CityTier,DurationOfPitch,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,Label,Score
0,0.325581,3,0.000000,2,5.000000,1,3.0,1,0,2,2,0.191118,0,0.8521
1,0.651163,2,0.305556,2,3.701827,1,4.0,1,1,5,2,0.194732,0,0.7589
2,0.441860,3,0.611111,2,4.000000,1,3.0,1,0,5,2,0.208174,0,0.8934
3,0.581395,1,1.000000,2,6.000000,1,3.0,3,0,3,2,0.224718,0,0.8689
4,0.162791,3,0.194444,1,4.000000,0,4.0,3,1,4,1,0.213764,1,0.7462

In [ ]:
# prediction.to_csv('prediction.csv',index = False)

In [26]:
sample_submission = pd.read_csv('data/sample_submission.csv')
sample_submission['ProdTaken'] = prediction['Label']
sample_submission.to_csv('submission.csv',index = False)